*{
    padding: 0;
    margin: 0;
}
.Header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
ul,li{
    display: inline;
    color: gray;
}
li:hover{
    color: white;
    cursor: pointer;
}
.Products{
    padding: 20px;
    text-align: center;
}
.box1{
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 220px;
    display: inline-block;
}
.box2{
    border: 2px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.box3{
    border: 2px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.box4{
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 220px; 
    display: inline-block;
}
a:hover{
    color: gray;
}
.Contact{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
button{
    display: inline-block;
    width: 30%;
    background-color: yellow;
    height: 5%;
}
button:hover{
    cursor: pointer;
    background-color: aliceblue;
}